table {
  /* width: 100%; */
  margin : 50px;
  border-collapse: collapse;
        position: relative;
}
td{
  width: 75px;
  height: 75px;
  border: 1px solid black;
}
#rowInput,
#colInput {
  margin: 0; /* 마진 없애기 */
  padding: 0;/* 필요한 경우 패딩 추가 */
}

body {
  font-family: 'Arial', sans-serif;
  /* text-align: center; */
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.item {
  position: absolute;
  width: 60px;
  height: 70px;
}

#robot {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 60px;
  height: 70px;
  display: none;
  transition: transform 0.5s ease;
}
#hazard {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 60px;
  height: 70px;
  display: none;
}
#predefined {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 60px;
  height: 70px;
  display: none;
}
#colorblob {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 60px;
  height: 70px;
  display: none;
}
